.fundo{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 25%, rgba(230,184,121,1) 57%, rgba(253,29,29,1) 79%);
    min-height: 100vh!important;
}

.titulo{
    font-weight: bold!important;
    font-size: 40px!important;
    color: gold!important;
    justify-content: flex-start!important;
    padding-bottom: 2px;
}

.texto{
    font-size: 20px!important;
    color: black;
    justify-content: flex-start!important;
    text-align: justify!important;
}

.sobre{
    justify-content: right!important;
    align-items: flex-end!important;
    padding: 60px;
}