.cardbox{
    border-radius: 15%!important;
    background: rgb(131,58,180)!important;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)!important;
    padding: 15px;
}

.botao{
   color: black;
   background: blueviolet!important;
}

.usuario{
    padding-left: 75px;
    justify-content: center!important;
    align-items: center!important;
    width: 150px;
    height: 150px;
}

.cadastre {
    cursor: pointer;
    font: bold!important;
}

.userlogin{
    font-size: 100px!important;
    padding-left: 100px;
    color:black


}